@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    display: flex;
    align-items: center;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Dancing Script';
    font-size: 70px;
    height: 100px;
    margin: 0px;
    padding-top: 60px;
    text-transform: uppercase;
}

#main {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    margin: 24px;
    background-color: #D1BC8A;
    border-radius: 16px;
    min-height: 720px;
    width: 100%
}

p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#ToDoList {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.task-name {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 24px;
    color: #333;
}

.checkbox {
    height: 24px;
    width: 24px;
}

i.far.fa-trash-alt {
    font-size: 24px;
  }
  